
// $theme-colors: (
  //   "primary": #1481BA,
  //   "secondary": #CAD8DE,
  //   "success": #0C7C59,
  //   "danger": #AD5D4E,
  //   "light": #B6D6CC,
  //   "dark": #2B303A,
  // );
  
$primary:       #19bc94 !default;
$secondary:     #F6F7F8 !default;
$success:       #0C7C59 !default;
$info:          #20A4F3 !default;
$warning:       #F2E11F !default;
$danger:        #FF3366 !default;
$light:         #2EC4B6 !default;
$dark:          #145750 !default;

// $theme-colors: (
  //   "primary": #1FF2BE,
  //   "secondary": #F6F7F8,
  //   "success": #0C7C59,
  //   "danger": #FF3366,
  //   "light": #2EC4B6,
  //   "dark": #011627,
  // );
  
body {
  font-family: 'Outfit', sans-serif !important;
}

.custom {
  width: fit-content;
}

@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

.card {
  width:25rem;
  height: 27rem;
}

.card-body-button {
  position: absolute;
  bottom: 1em;
  right: 1em;
}

.skill-card {
  margin: 0.25rem;
  width: fit-content;
  height:fit-content
}

.skill-card:hover {
  background-color: #F6F7F8;
}

.card-body-skill{
  padding: 0.5rem;
  margin: 0;
}

.skill-icon {
  width: 2rem;
  padding-right: 0.5rem;
}

.skill-link {
  color: #011627;
  text-decoration: none;
}

// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
